
* {
    font-family: "Georgia";
    color: white;
}

html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#title {
    height: 100%;
    width: 60%;
    display: inline-block;
    float:left;
}

.rightMargin {
    margin : 50px;
    float:left;
    display: inline-block;
    max-width: 30%;
}
.rightMargin a {
    float:left;
    display: inline-block;
}

#.rightMargin span {
    float:left;
    dispaly: inline-block;
}

#gameMockup {
    float:left;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../images/IronRodPath.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}





