
* {
    font-family: "Georgia";
    color: white;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    background-color: black;
}

#title {
    height: 100%;
    width: 60%;
    display: inline-block;
    float:left;
}

.rightMargin {
    margin : 50px;
    float:left;
    display: inline-block;
    max-width: 30%;
}
.rightMargin a {
    float:left;
    display: inline-block;
}

#.rightMargin span {
    float:left;
    dispaly: inline-block;
}

#gameMockup {
    float:left;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}


#gameCanvas {

}

.textBlock {
    position: absolute;
    width: 80%;
    height: 20%;
    background-color : white;
    bottom : 1%;
    left: 10%;

    border-radius : 60px;
    border-color  : #000000;
    border-style  : solid;
    border-width: 15px;
    transition: bottom, 1s;
    color: black;
}

.textBlock.hidden {
    bottom: -25%;
}

.textBlock span {
    position: absolute;
    font-size: 35px;
    width: 80%;
    left: 10%;
    top : 15%;
    color :black;
}




